/* Recommended Modern Reset */
*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family:
    "Inter",
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    sans-serif;
  letter-spacing: -0.02em;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

nav div a {
  text-decoration: none;
  color: #000;
}

nav div a:hover {
  color: #000000d5;
}

nav {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  gap: 5em;
}

.brand {
  font-weight: bold;
}
